/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Arial';
    background: #ececec;
  }
  
  ul {
    list-style-type: none;
    padding: 20px;
  }
  
  li {
    padding: 20px;
    background: white;
    margin-bottom: 5px;
  }